@import url('https://fonts.googleapis.com/css2?family=Iansui&family=Orbitron:wght@400..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'iansui';
    transition: 0.2s ease;
}
a:hover{
    background: none;
}
a:focus{
    background: none;
}
.swiper {
    width: 600px;
    height: 300px;
}